app/config/parameters.ini
vendor/*
app/cache/*
app/logs/*
web/bundles/*
app/DoctrineMigrations
*~
# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
